{% extends "base.html" %}

{%block content %}

	<html>
		<body>
			<img src="/static/media/esu_logo_header.png" alt="ESU Logo" /><br><br>
			<form>
				<font size="4">Select from the following to generate a query:</font><br>
				<button type="total_socks">Total Socks Sold</button>
				<button type="total_by_charity">Total Socks Sold By Charity</button>
				<button type="total_by_user_type">Total Socks Sold User Type</button>
				<button type="total_esu_large">Total ESU Large Socks Sold</button>
				<button type="list_socks_delivery">List of Socks to be Delivered</button><br><br>
				<font size="4">Enter a user's email address below to query for their information:</font><br>
				<input type="find_user" name="find_user">
				<button type="submit_user">Find User</button><br><br>
				<font size="4">Enter a charity's name to add it to the charity list:</font><br>
				<input type="add_charity" name="add_charity">
				<button type="submit_charity">Add New Charity</button><br><br>
			</form> 
		</body>
	</html> 

{%endblock%}