<!--Test template for demo -->

{% extends "base.html" %}

{%block content %}

	<html>
		<body>
			<img src="/static/media/esu_logo_header.png" alt="ESU Logo" /><br><br>
			<font size="4">Select from the following to generate a query:</font><br>
			<form method="POST"> 
				{% csrf_token %} 
            	<button onclick="changeDiv(1)" type=button name="total_socks">Total Socks Sold</button>
        		<div id=1 style="display:none">
            		<h6>{{ socks }}</h6>
           		</div>
           	</form>
           	<form method="POST"> 
				{% csrf_token %} 
        		<button onclick="changeDiv(2)" type=button name="total_socks_charity">Total Socks Sold By Charity</button>
        		<div id=2 style="display:none">
            		<h6>{{ charity1 }}</h6>
            		<h6>{{ charity2 }}</h6>
            	</div>
            </form>
           	<form method="POST"> 
				{% csrf_token %} 
                <button onclick="changeDiv(3)" type=button name="total_socks_large">Total Large Socks Sold</button>
        		<div id=3 style="display:none">
            		<h6>{{ large_socks }}</h6>
            	</div>
            </form>
           	<form method="POST"> 
				{% csrf_token %} 
            	<button onclick="changeDiv(4)" type=button name="delivery_list">All Sock Deliveries</button>
        		<div id=4 style="display:none">
        			{% for d_object in deliveries_list %}
            			<h6>{{ d_object }}</h6>
        			{% endfor %}
            	</div>
            </form>
        	<script>
				function changeDiv(x)
				{
    				for(i=1;i<5;i++)
    				{
        				document.getElementById(i).style.display = 'none'; // hide body div tag
    				}
    				document.getElementById(x).style.display = 'block'; // show body1 div tag
				}
			</script>
		</body>
	</html> 

{%endblock%}