{% extends "base.html" %}

{%block content %}

	<html>
		<body>
			<img src="/static/media/esu_logo_header.png" alt="ESU Logo" /><br><br>
			 <form method="POST">
			 	{% csrf_token %} 
			 	<font size="4">Enter a user's email address below to query for their information:</font><br>
            	<input type="find_user" name="find_user">
				<button type="submit_user" name=find_user_button>Find User</button>
            </form>
            <form>
            	{% csrf_token %} 
            	<br><font size="4">Enter a charity's name to add it to the charity list:</font><br>
				<input type="add_charity" name="add_charity">
				<button type="submit_charity">Add New Charity</button>
            </form>
            <br><font size="4">Select from the following to generate a query:</font><br>
			<form method="POST"> 
				{% csrf_token %} 
            	<button onclick="changeDiv(1)" type=button name="total_socks">Total Socks Sold</button>
        		<div id=1 style="display:none">
            		<p>{{ socks }}</p>
           		</div>
           	</form>
           	<form method="POST"> 
				{% csrf_token %} 
        		<button onclick="changeDiv(2)" type=button name="total_socks_charity">Total Socks Sold By Charity</button>
        		<div id=2 style="display:none">
            		<p>{{ charity1 }}</p>
            		<p>{{ charity2 }}</p>
            	</div>
            </form>
           	<form method="POST"> 
				{% csrf_token %} 
                <button onclick="changeDiv(3)" type=button name="total_socks_large">Total Large Socks Sold</button>
        		<div id=3 style="display:none">
            		<p>{{ large_socks }}</p>
            	</div>
            </form>
           	<form method="POST"> 
				{% csrf_token %} 
            	<button onclick="changeDiv(4)" type=button name="delivery_list">All Sock Deliveries</button>
        		<div id=4 style="display:none">
        			{% for d_object in deliveries_list %}
            			<p>{{ d_object }}</p>
        			{% endfor %}
            	</div>
            </form>
        	<script>
				function changeDiv(x)
				{
    				for(i=1;i<5;i++)
    				{
        				document.getElementById(i).style.display = 'none'; // hide body div tag
    				}
    				document.getElementById(x).style.display = 'block'; // show body1 div tag
				}
			</script>
		</body>
	</html> 

{%endblock%}