{% extends "base.html" %}

{%block content %}

	<html> 
		<body>
			<h1> ESU Join the Flock </h1>
			<font size="4">Social Entrepreneurial Campaign</font><br><br>
			<img src="/static/media/esu_logo_header.png" alt="ESU Logo" /><br><br>
			<form>
				 <font size="4">Name</font><br>
				  First:<input type="text" name="firstname"><br>
				  Last:<input type="text" name="lastname"><br>
				
				<font size="4">Email</font><br>
				  <input type="email" name="email"><br><br>
				
				<font size="4">Phone Number (optional)</font><br>
				  <input type="text" name="areacode" maxlength="3">
				  <input type="text" name="prefix" maxlength="3"> 
				  <input type="text" name="linenumber" maxlength="4"><br>###-###-####<br><br>

				Choose the color(s) and size(s) of the pair of sock(s) you would like, a matching pair(s) will be donated to the charity of your choice. 
				  <br>Please make checks payable to ESU and write Sock Donation in the check memo (Socks available starting Nov 18th):<br>
				  <input type="checkbox" name="sockChoice" value="men_Medium_Esu"> ESU Colors - Medium - Men (6-8) Donation $20<br>
			  	  <input type="checkbox" name="sockChoice" value="men_Large_Esu"> ESU Colors - Large - Men (9-13) Donation $20<br>
				  <input type="checkbox" name="sockChoice" value="men_Medium_Neon"> Neon Colors - Medium - Men (6-8) Donation $20<br>
			  	  <input type="checkbox" name="sockChoice" value="men_Large_Neon"> Neon Colors - Large - Men (9-13) Donation $20<br>
				  <input type="checkbox" name="sockChoice" value="women_Medium_Esu"> ESU Colors - Medium - Women (6-9) Donation $20<br>
			  	  <input type="checkbox" name="sockChoice" value="women_Large_Esu"> ESU Colors - Large - Women (10-13) Donation $20<br>
				  <input type="checkbox" name="sockChoice" value="women_Medium_Neon"> Neon Colors - Medium - Women (6-9) Donation $20<br>
			  	  <input type="checkbox" name="sockChoice" value="women_Large_Neon"> Neon Colors - Large - Women (10-13) Donation $20<br><br>

				<font size="4">Pick your charity</font><br>
				  <input type="radio" name="charity" value="Street2Feet"> Street2Feet<br>
			  	  <input type="radio" name="charity" value="The_Good_Project"> The Good Project<br><br>
				
				<font size="4">Are you a (optional)</font><br>
				  <input type="radio" name="role" value="Student"> Student<br>
				  <input type="radio" name="role" value="Community_Member"> Community Member<br>
				  <input type="radio" name="role" value="Staff"> Staff<br>
				  <input type="radio" name="role" value="Faculty"> Faculty<br>
				  <input type="radio" name="role" value="Administrator"> Administrator<br>
				  <input type="radio" name="role" value="Alumni"> Alumni<br><br>

				<font size="4">Pickup or Delivery</font><br>
				  <input type="radio" name="deliveryOption" value="pickup"> I want to pick up my Socks. Socks are available for Pickup 
				  													  from the C.R.E.A.T.E. Lab (Stroud Hall, Room 107) Tuesdays & Wednesdays 1-4pm<br>
				  <input type="radio" name="deliveryOption" value="delivered"> I want my socks delivered. Delivery available on campus only. 
				  														 Delivery day is any Tuesday between 1-4pm<br><br>
				
				<font size="4">Deliver My Socks To (Optional)</font><br>
				  Building Name<input type="text" name="building">
				  Room #<input type="text" name="roomnum"><br><br>
				 
				For large orders<br>
				Please contact the C.R.E.A.T.E. Lab at esucreatelab@gmail.com<br>
				<input type="submit" name="submit" value="Submit">
			</form> 
		</body>
	</html> 

{%endblock%}